asgiref==3.7.2
black==25.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.8
cryptography==42.0.5
Django==5.0.3
django-cors-headers==4.7.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-jazzmin==2.6.1
djangorestframework==3.14.0
Faker==36.1.1
idna==3.6
isort==6.0.1
msal==1.28.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pycparser==2.22
PyJWT==2.8.0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
tomli==2.2.1
typing_extensions==4.10.0
tzdata==2025.1
urllib3==2.2.1
