{% extends 'base.html' %}
{% load static %}
{% block title %}Available Properties{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'app1/css/property_form.css'%}">
<h2 class="text-center availablepro">Available Properties</h2>
<table class="table table-striped table-bordered mt-3 buyingtable">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>Area</th>
            <th>Size</th>
            <th>Owner</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        {% for property in properties %}
        <tr>
            <!-- <td>{{ property.id }}</td> -->
            <td>{{ property.title }}</td>
            <td>{{ property.area }}</td>
            <td>{{ property.property_subtype }}</td>
            <td>{{ property.owner.name }}</td>
            <td>{{ property.owner.mobile }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">No properties available.</td>
        </tr>
        {% endfor %}
        <style>
            body {
                background-image: url("{% static 'app1/images/selling_backgroundd.jpg' %}");
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
            }
        </style>
        <!-- Pagination Controls -->
<div class="pagination">
    {% if properties.has_previous %}
        <a href="?page=1" class="first">First</a>
        <a href="?page={{ properties.previous_page_number }}" class="previous">Previous</a>
    {% endif %}

    <span class="pageof">Page  < {{ properties.number }} of {{ properties.paginator.num_pages }} > </span>

    {% if properties.has_next %}
        <a href="?page={{ properties.next_page_number }}" class="next">Next</a>
        <a href="?page={{ properties.paginator.num_pages }}" class="last">Last</a>
    {% endif %}
</div>
    </tbody>
</table>
{% endblock %}
