{% extends 'base.html' %}
{% load static %}
{% block title %}Real Estate{% endblock %}

{% block content %}
<!-- Header Image Section -->
<link rel="stylesheet" href="{% static 'app1/css/property_form.css'%}">
<div class="headerimage">
    <div class="headeriamge1">
        <div class="house"></div>
    </div>
    <div class="headerimage2">
        <div class="buying">
            <a href="{% url 'buying' %}"><img src="{% static 'app1/images/buyin.jpg' %}" alt="Buying" /></a>
        </div>
        <div class="selling">
            <a href="{% url 'property_form' %}"><img src="{% static 'app1/images/selling.jpg' %}" alt="Selling" /></a>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="content">
    <div class="innercontent">
        <div class="leftpannel">
            <div class="find">
                <div class="leftpan1"></div>
                <div class="leftpan2">
                    <div class="leftmenu">
                        <ul>
                            <li><a href="#">Home for sale</a></li>
                            <li><a href="#">Foreclosures</a></li>
                            <li><a href="#">Lots and Land</a></li>
                            <li><a href="#">Agents and Brokers</a></li>
                            <li><a href="#">Mortgages</a></li>
                            <li><a href="#">Free home plans</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="search">
                <div class="search1"></div>
                <div class="go">
                    <div>
                        <input type="text" />
                    </div>
                    <div class="go1">
                        <a href="#"><img src="{% static 'app1/images/go.gif' %}" alt="Go" /></a>
                    </div>
                </div>
            </div>

            <div>
                <div style="width:190px; height:31px; background:url({% static 'app1/images/find.gif' %}) repeat-x;"></div>
                <div style="background-color:#fffbf0; padding-top:15px; height:auto">
                    <img src="{% static 'app1/images/add.jpg' %}" width="181" height="81" />
                </div>
            </div>
        </div>

        <div class="rightpannel">
            <div class="welcome">
                <div style="width:200px; height:30px; padding-bottom:5px">
                    <img src="{% static 'app1/images/welcome.jpg' %}" width="202" height="24" />
                </div>
                <div style="width:573px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">
                    All the formatting for the section that precedes it, including margins, number of columns, line numbers, page size and orientation, and headers and footers.
                </div>
            </div>

            <div class="featured">&nbsp;</div>

            <div class="featured1">
                <div class="featuredinner">
                    <div class="fealeft">
                        <a href="#"><img src="{% static 'app1/images/home.jpg' %}" alt="Home" /></a>
                    </div>
                    <div class="fearight">
                        <span>All the formatting for the section that precedes it.</span>
                    </div>
                </div>
            </div>

            <div class="featured1">
                <div class="featuredinner">
                    <div class="fealeft">
                        <a href="#"><img src="{% static 'app1/images/house2.jpg' %}" width="108" height="76" alt="House 2" /></a>
                    </div>
                    <div class="fearight">
                        <span>All the formatting for the section that precedes it.</span>
                    </div>
                </div>
            </div>

            <div class="featured1">
                <div class="featuredinner">
                    <div class="fealeft">
                        <a href="#"><img src="{% static 'app1/images/house3.jpg' %}" width="108" height="76" alt="House 3" /></a>
                    </div>
                    <div class="fearight">
                        <span>All the formatting for the section that precedes it.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
