{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'app1/css/property_form.css'%}">
<div class="main">
  <div class="headerimage">
    <div class="headeriamge1">
      <div class="house"></div>
    </div>
    <div class="headerimage2">
      <div class="buying"><a href="{% url 'buying' %}"><img src="{% static 'app1/images/buyin.jpg' %}" alt="Buying" /></a></div>
      <div class="selling"><a href="{% url 'property_form' %}"><img src="{% static 'app1/images/selling.jpg' %}" alt="Selling" /></a></div>
    </div>
  </div>
  <div class="content">
    <div class="innercontent">
      <div class="leftpannel">
        <div class="find">
          <div class="leftmenu">
            <ul>
              <li><a href="#">Home for sale</a></li>
              <li><a href="#">Foreclosures</a></li>
              <li><a href="#">Lots and Land</a></li>
              <li><a href="#">Agents and Brokers</a></li>
              <li><a href="#">Mortgages</a></li>
              <li><a href="#">Free home plans</a></li>
            </ul>
          </div>
        </div>
        <div class="search">
          <input type="text" />
          <div class="go"><a href="#"><img src="{% static 'app1/images/go.gif' %}" alt="Go" /></a></div>
        </div>
      </div>
      <div class="rightpannel">
        <div class="featured1">
          <div class="homecontainer">
            <div class="home"><img src="{% static 'app1/images/home.gif' %}" alt="Home" /></div>
            <div class="housing">
              <div class="housing1"><img src="{% static 'app1/images/sale.gif' %}" alt="House" /></div>
              <div class="housing2">
                <div class="text2">All the formatting for the section that precedes it.</div>
                <div class="readmore"><a href="#"><img src="{% static 'app1/images/readmore.gif' %}" alt="Read more" /></a></div>
              </div>
            </div>
          </div>
          <div class="forcontainer">
            <div class="homecontainer">
              <div class="home"><img src="{% static 'app1/images/foreclosures.gif' %}" alt="Foreclosures" /></div>
              <div class="housing">
                <div class="housing1"><img src="{% static 'app1/images/house4.gif' %}" alt="House" /></div>
                <div class="housing2">
                  <div class="text2">All the formatting for the section that precedes it.</div>
                  <div class="readmore"><a href="#"><img src="{% static 'app1/images/readmore.gif' %}" alt="Read more" /></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
