body { font-family: Arial, sans-serif; text-align: center; padding: 50px; }
        .container { width: 300px; margin: auto; }
        input, button { display: block; width: 100%; margin-top: 10px; padding: 10px; }
        #message { margin-top: 10px; font-weight: bold; }

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background: url('/static/loginapplication/images/background7.jpg') no-repeat center center fixed; /* Update the path */
            background-size: cover;
            position: relative;
        }        

        button.resetpassword {
            width: 200px; /* Adjust button width */
            height: 35px; /* Adjust button height */
            font-size: 14px; /* Adjust font size */
        }
        
        .resetpassword {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            background: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
            transform: translate(64px, 11px);
        }
        
        .resetpassword:hover {
            background: #0056b3;
        }
        .backtohome{
            transform: translate(0px, 350px);
            width: 100%;
            padding: 1px;
            font-size: 16px;
            font-weight: bold;
            background: #000000;
            color: rgb(2, 1, 1);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }